body{}

 #wrapper{   width: 1024px; 
                            margin: 0 auto;
                            background: orange;}

#header{      
                            height: 100px;
                            margin-bottom: 0px;
                            background: red;}

#main{            
                            width: 1024px; 
                            height: 100px;
                            margin-top: -21px;
                            background: blue;}

#footer{        background: darkblue;}
    
